  body {
    background-image: url("src/assets/images/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
  }

  .trail-container {
    position: relative;
  }

  /* 
  .cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(189, 182, 182);
    position: absolute;
    pointer-events: none;
    transform: translate(-25%, -25%);
  } */

  .trail {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(189, 182, 182, 0.5);
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #score {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: lemonchiffon;
    text-shadow: 0 0 5px rgba(255, 165, 0, 0.95), 0 0 10px rgba(255, 140, 0, 0.9), 0 0 15px rgba(255, 127, 80, 0.85);
    background: linear-gradient(0deg, #8B4513, #A0522D, #CD853F, #D2691E, #FF7F50);
    -webkit-background-clip: text;
    padding: 20px 28px;
    border-radius: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6), inset 0 -8px 16px rgba(0, 0, 0, 0.5);
    animation: neon-glow 0.5s infinite alternate;
  }

  .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgb(255 222 186 / 86%);
    --animation-color: #ffefe7;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }

  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }

  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }