@font-face {
  font-family: 'Orbitron';
  src: url('src/assets/fonts/Orbitron-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("src/assets/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

/* Add loading screen styles */
/* #loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loading-content {
  text-align: center;
} */

/* .progress-bar {
  width: 200px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-top: 20px;
}

.progress {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  width: 0;
  transition: width 0.3s ease;
} */

.trail-container {
  position: relative;
}

.trail {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(189, 182, 182, 0.5);
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(45deg);
}

#score-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
}

.score-row {
  display: flex;
  align-items: center;
}

#logo-image {
  max-width: 100px;
  height: auto;
}

#score,
#best-score {
  font-family: 'Orbitron', monospace;
  font-size: 32px;
  font-weight: bold;
  color: lemonchiffon;
  background: linear-gradient(0deg, #8B4513, #A0522D, #CD853F, #D2691E, #FF7F50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgb(255 222 186 / 86%);
  --animation-color: #ffefe7;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}